
<app-navbar></app-navbar>
<div class="main__page">
    <div class="main_page_content">
        <div class="main_text_wl">
            WELCOME TO devTech.MD
        </div>
        <div class="main_text_content">
            <p class="main_text_tc">Creative Web Design & <br> Innovative Digital Solution</p>
            <p class="main_text_tcp">Building captivating and functional websites that seamlessly blend creativity with technology, I deliver user experiences that leave a lasting impression. From concept to execution, every project is crafted with precision to meet both aesthetic and business goals.</p>
        </div>
        <div class="main_btn_content">
            <button class="btn_viewprject">View Projects</button>
            <button class="btn_connect">Lets Connect</button>
        </div>
        <div class="image_content">
            <img class="image_s" src="../assets/frontpage_img.png" alt="description" />
        </div>
    </div>
    
</div>

<router-outlet></router-outlet>
